# original
*.o
kernel.bin

# temporary files
.setup.sh.swp
kernel/kmain.c.save
*.tmp
*.save

# made files
doc/~$NTRIBUTIONS.docx
dev/~\$NTRIBUTIONS.docx
dev/doxygen*

# depending on your version of ubuntu
make/CFLAGS

# austin's development
dev/my_dev*
selected

# vscode users
.vscode*
