# original
*.o
kernel.bin

# temporary files
.setup.sh.swp
kernel/kmain.c.save
*.tmp
*.save
doc/~$NTRIBUTIONS.docx

# depending on your version of ubuntu
make/CFLAGS

# austin fzf
selected

# vscode users
.vscode*
